<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

        <listener>
                <listener-class>com.quifers.listener.StartupContextListener</listener-class>
        </listener>

        <servlet>
                <servlet-name>orderServlet</servlet-name>
                <servlet-class>com.quifers.servlet.OrderServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>adminServlet</servlet-name>
                <servlet-class>com.quifers.servlet.AdminServlet</servlet-class>
        </servlet>


        <servlet>
                <servlet-name>fieldExecutiveRegisterServlet</servlet-name>
                <servlet-class>com.quifers.servlet.FieldExecutiveRegisterServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>assignFieldManagerServlet</servlet-name>
                <servlet-class>com.quifers.servlet.AssignOrderToFieldManagerServlet</servlet-class>
        </servlet>

        <servlet-mapping>
                <servlet-name>orderServlet</servlet-name>
                <url-pattern>/api/v0/guest/order/*</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>adminServlet</servlet-name>
                <url-pattern>/api/v0/admin/account/register</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>fieldExecutiveRegisterServlet</servlet-name>
                <url-pattern>/admin/registerFieldExecutive</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>assignFieldManagerServlet</servlet-name>
                <url-pattern>/assignFieldManager</url-pattern>
        </servlet-mapping>

</web-app>