<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

        <listener>
                <listener-class>com.quifers.listener.StartupContextListener</listener-class>
        </listener>

        <servlet>
                <servlet-name>orderServlet</servlet-name>
                <servlet-class>com.quifers.servlet.OrderServlet</servlet-class>
        </servlet>

        <servlet-mapping>
                <servlet-name>orderServlet</servlet-name>
                <url-pattern>/bookOrder</url-pattern>
        </servlet-mapping>

</web-app>   