<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

        <listener>
                <listener-class>com.quifers.servlet.listener.StartupContextListener</listener-class>
        </listener>

        <filter>
                <filter-name>adminAuthenticationFilter</filter-name>
                <filter-class>com.quifers.servlet.filters.AdminAuthenticationFilter</filter-class>
        </filter>

        <filter>
                <filter-name>fieldExecutiveAuthenticationFilter</filter-name>
                <filter-class>com.quifers.servlet.filters.FieldExecutiveAuthenticationFilter</filter-class>
        </filter>

        <servlet>
                <servlet-name>orderServlet</servlet-name>
                <servlet-class>com.quifers.servlet.OrderServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>adminRegisterServlet</servlet-name>
                <servlet-class>com.quifers.servlet.admin.AdminRegisterServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>adminLoginServlet</servlet-name>
                <servlet-class>com.quifers.servlet.admin.AdminLoginServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>adminServlet</servlet-name>
                <servlet-class>com.quifers.servlet.admin.FieldExecutiveListAllServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>fieldExecutiveAssignServlet</servlet-name>
                <servlet-class>com.quifers.servlet.admin.FieldExecutiveAssignServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>fieldExecutiveRegisterServlet</servlet-name>
                <servlet-class>com.quifers.servlet.admin.FieldExecutiveRegisterServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>fieldExecutiveLoginServlet</servlet-name>
                <servlet-class>com.quifers.servlet.executives.FieldExecutiveLoginServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>changeOrderStateServlet</servlet-name>
                <servlet-class>com.quifers.servlet.executives.ChangeOrderStateServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>generatePriceServlet</servlet-name>
                <servlet-class>com.quifers.servlet.executives.GeneratePriceServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>orderByOrderIdServlet</servlet-name>
                <servlet-class>com.quifers.servlet.executives.AllOrdersOfFieldExecutiveServlet</servlet-class>
        </servlet>

        <filter-mapping>
                <filter-name>adminAuthenticationFilter</filter-name>
                <url-pattern>/api/v0/admin/*</url-pattern>
                <dispatcher>REQUEST</dispatcher>
        </filter-mapping>

        <filter-mapping>
                <filter-name>fieldExecutiveAuthenticationFilter</filter-name>
                <url-pattern>/api/v0/executive/*</url-pattern>
                <dispatcher>REQUEST</dispatcher>
        </filter-mapping>

        <servlet-mapping>
                <servlet-name>orderServlet</servlet-name>
                <url-pattern>/api/v0/guest/order/*</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>adminRegisterServlet</servlet-name>
                <url-pattern>/api/v0/guest/admin/register</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>adminLoginServlet</servlet-name>
                <url-pattern>/api/v0/guest/admin/login</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>adminServlet</servlet-name>
                <url-pattern>/api/v0/admin/executives/listAll</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>fieldExecutiveAssignServlet</servlet-name>
                <url-pattern>/api/v0/admin/executives/assign</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>fieldExecutiveRegisterServlet</servlet-name>
                <url-pattern>/api/v0/admin/executives/register</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>fieldExecutiveLoginServlet</servlet-name>
                <url-pattern>/api/v0/guest/executive/login</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>changeOrderStateServlet</servlet-name>
                <url-pattern>/api/v0/executive/order/update/state</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>generatePriceServlet</servlet-name>
                <url-pattern>/api/v0/executive/order/create/price</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
                <servlet-name>orderByOrderIdServlet</servlet-name>
                <url-pattern>/api/v0/executive/order/get/all</url-pattern>
        </servlet-mapping>

</web-app>